/* Custom font and weight applied to body */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* Extra padding on select div elements */
body > div[id], body > div[id] > div {
    padding: 3rem;
}

/* Media query for mobile responsiveness */
@media only screen and (min-width: 768px) {
    .row div {
        width: 50%;
    }
}

/* Text styling */
h1 {
    font-weight: bold;
    font-size: 4rem;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: .5rem;
}

p {
    color: #ABB5BE;
    line-height: 1;
    margin-top: 1rem;
}

/* Checkbox styling */
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    float: left;
    width: 1em;
    height: 1em;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .25em;
    margin-top: .25em;
    margin-left: -1.5em;
}

/* Checkbox styling when checked */
input[type=checkbox]:checked {
    border-color: #7749F8;
    background-color: #7749F8;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

/* Embedded content styling */
iframe {
    vertical-align: middle;
    width: 36%;
    margin: 1.5rem;
}

/* Make footer sticky */
footer {
    position: fixed;
    text-align: center;
    color: #ABB5BE;
    background-color: #343A40;
    font-size: .75rem;
    width: 100%;
    padding: 1rem;
    left: 0;
    bottom: 0;
}

/* Button styling */
.btn {
    color: white;
    background-color: #7749F8;
}

/* Button styling when hovered over */
.btn:hover {
    color: #7749F8;
    border-color: #7749F8;
    background-color: white;
}

/* Styling of form inputs */
.form-check {
    display: inline-block;
    padding: 1rem 1.75rem;
    margin-left: 1.5rem;
    margin-right: .25rem;
}

.form-select {
    display: inline;
    width: auto;
}

.form-control {
    display: inline;
    width: 30%;
}

/* Center and hide loading spinner */
.spinner-border {
    position: absolute;
    visibility: hidden;
    left: 50%;
    margin-top: 10%;
}

/* Adjust width of Tiktok embed */
.tiktok-embed {
    width: 40%;
}

/* Hero section */
#hero {
    color: white;
    background-color: #1778F2;
}

/* Hero description/tagline */
#description {
    font-size: 1.5rem;
}

/* Search query section */
#search {
    text-align: center;
    background-color: #F8F9FA;
}

/* Content section */
#content {
    text-align: center;
    height: 40rem;
    padding-top: .5rem;
}